body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-image: url(img/img-back.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
  }
/* barre de navigation */
.topbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 10px;
    height: 60px;
    width: 610px;
    margin: 20px 30%;
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slidedown 1s;
    z-index: 1;
  }

  .topbar a{
      display: flex;
      padding: 0 10px;
      text-decoration: none;
      color: #A5AEB9;
      width: 80px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      transition: color .3s, background 0.3s;
    }

    .topbar a:hover, .topbar .active {
        color: #000000;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    /* Page de présentation */
    .presentation {
      display: flex;
      justify-content: center;
      /*align-items: center;*/
      flex-wrap: wrap;
      height: 500px;
      width: 610px;
      margin-top: 130px;
      margin-bottom: 20px;
      background: #fbfbfb;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      animation: slideright 1s;
      z-index: 2;
    }

  .presentation h1 {
    position: relative;
    left: -205px;
    text-align: center;
    height: 48px;
    width: 200px;
    border-radius: 0 5px 5px 0;
    background-color: beige;
  }

  .presentation p {
    text-align: center;
    height: 90px;
    width: 90%;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
  }

  .presentation span {
    font-weight: normal;
  }

  /* Page de C.V */
  .CV {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1770px;
    width: 1088px;
    margin-top: 130px;
    margin-bottom: 20px;
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideleft2 1s;
    z-index: 2;
  }

  .email{
    transition: all .2s ease-in-out;
    border-radius: 5px;
    padding: 0 5px;
  }

  .email:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .h1-CV {
    position: relative;
    left: 0px;
    text-align: center;
    height: 48px;
    width: 300px;
    border-radius: 0 5px 5px 0;
    background-color: beige;
  }
  /* Article de C.V (header)*/
  .cv-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 1088px;
  }
  /* Article de C.V (body)*/
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 140px;
    width: 200px;
  }

  .info p, .info a {
    margin: 2px;
    color: black
  }

  .cv-art, .cv-art-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 650px;
  }

  .ex-pro {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 950px;
    margin: 0 70px;
  }

  .ex-pro h1 {
    margin: 5px 0;
  }

.line {
  display: flex;
  flex-wrap: wrap;
  height: 0px;
  width: 100%;
  border: 1px solid #A5AEB9;
}

.ex-proinfo-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 126px;
  width: 100%;
}

.ex-proinfo-1 p {
  height: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 475px;
  height: 126px;
}

.container h3 {
  margin-bottom: 2px;
}

.container p {
  margin-top: 2px;
}

.cv-art-2 {
  display: flex;
  flex-direction: row;
  height: 475px;
  width: 90%;
}

.competences {
  margin-left:70px;
  height: 500px;
  width: 475px;
}

.competences .line {
  width: 237.5px;
}

.langues {
  margin-right:70px;
  height: 500px;
  width: 470px;
}

.langues .line {
  width: 237.5px;
}

.cv-art-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1088px;
  height: 350px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 610px;
  margin-top: 130px;
  margin-bottom: 20px;
  background: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideright 1s;
  z-index: 2;
}

  .contact h1 {
    position: relative;
    left: -205px;
    text-align: center;
    height: 48px;
    width: 200px;
    border-radius: 0 5px 5px 0;
    background-color: beige;
  }

  .contact .social {
    height: 285px;
    width: 525px;
    border-radius: 5px;
    background: beige;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }

  .social a {
    padding: 20px;
    transition: all .2s ease-in-out;
  }

  .social a:hover {
    transform: scale(1.2);
  }







    @keyframes slidedown {
        0% {
            transform: translateY(-200px);
        }
        100% {
            transform: translate(0);
        }
    }

    @keyframes slideright {
        0% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translate(0);
        }
    }

    @keyframes slideleft {
        0% {
            transform: translateX(500px);
        }
        100% {
            transform: translate(0);
        }
    }

    @keyframes slideleft2 {
        0% {
            transform: translateX(2000px);
        }
        100% {
            transform: translate(0);
        }
    }
     /* Responsive à partir de 1100px */
    @media all and (max-width: 1100px) {
      .CV, main .social {
        width: 90%;
      }

      header, .cv-header, .cv-art, .ex-pro, .ex-pro, .container {
        width: 100%;
      }

      .line, .cv-art-3 {
        width: 90%;
      }

      .ex-pro, .ex-proinfo-1 {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
      }

      .ex-proinfo-1 p, .container h3,.container p {
        width: 100%;
      }

      .ex-proinfo-1 p {
        text-align: center;
      }

    }
      /* Responsive à partir de 676px */
    @media all and (max-width: 676px) {

      body {
        font-size: .7em;
      }

      body, .CV,.cv-header, .cv-art,.cv-art-2, .cv-art-3, .ex-pro, .ex-pro, .ex-proinfo-1, .container, .competences, .langues{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .topbar, .presentation, .contact, .cv-art-3 {
        width: 90%;
      }

      .contact .social {
        width: 90%;
      }

      .presentation {
        display: flex;
        justify-content: center;
      }

      .presentation p {
        /*height: 380px;*/
        text-align: center;
        width: 90%;
      }

      .presentation h1, .h1-CV, .contact h1 {
        position: relative;
        left: 0px;
        right: 0px;
        width: 90%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .presentation h1, .contact h1 {
        margin-left: 0;
      }

      h1, h3 {
        margin-left: 5%;
        text-align: center;
      }

      header, .cv-header, .cv-art, .ex-pro, .ex-pro, .container {
        width: 100%;
      }
        .line {
          width: 90%;
        }

        .competences, .langues {
          width: 100%;
          margin: 0;
        }

        .competences h1, .langues h1 {
          margin: 0;
        }


      }
